@model UserUpdatesViewModel
@{
	ViewData["Title"] = "WriterEditProfile";
	Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
			<br />
			<form class="forms-sample" asp-action="WriterEditProfile" method="post">
				<div class="form-group">
					<label for="exampleInputName1">Yazar Ad Soyad</label>
					<input type="text" class="form-control" asp-for="namesurname">
				</div>
				<div class="form-group">
					<label for="exampleInputName1">Yazar Kullanıcı Adı </label>
					<input type="text" class="form-control" asp-for="username">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail3">Mail Adresi</label>
					<input type="text" class="form-control" asp-for="mail">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail3">Yeni Şifreniz</label>
					<input type="text" class="form-control" asp-for="password">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword4">Resim Yolu</label>
					<input type="text" class="form-control" asp-for="imageurl">
				</div>
				<button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
				<button class="btn btn-light">İptal</button>
			</form>
		</div>
	</div>
</div>

